#work {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

#work-title {
  margin: 5vh auto 5vh 5vw;
  color: white;
  font-family: "Tillana", cursive;
  font-size: 3em;
}

.work-img {
  height: auto;
  width: 25%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.hasura {
  background-image: url("../img/hasura.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
  border-right: #455a64 solid 1px;
}

.sw {
  background-image: url("../img/silverwings.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
  border-right: #455a64 solid 1px;
}

.taaraka {
  background-image: url("../img/taaraka.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
  border-right: #455a64 solid 1px;
}

#work-description a {
  margin: 10px 10px 0 0;
  text-decoration: none;
  color: #455a64;
  background-color: white;
  padding: 10px;
  border: 1px solid #455a64;
  border-radius: 5px;
  width: 40%;
}

#work-description a:hover {
  background-color: #455a64;
  color: white;
}

#work-description div {
  display: flex;
}

#work-line {
  display: flex;
  flex-direction: row;
  padding: 0 5vw;
  justify-content: center;
}

#work-item {
  width: 33vw;
  margin: 10px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: row;
  border: solid 1px white;
  color: #455a64;
  font-family: "Roboto", sans-serif;
}

#work-description {
  width: 70%;
  padding: 16px;
}

@media only screen and (max-width: 1000px) {
  .taaraka,
  .hasura,
  .sw {
    border-right: 0;
    border-bottom: #455a64 solid 1px;
  }

  #work-line {
    flex-direction: column;
  }

  #work-description {
    width: 90%;
  }

  #work-description p {
    font-size: 0.5em;
  }

  #work-description h3 {
    font-size: 1em;
  }

  #work-description a {
    font-size: 0.5em;
  }

  #work-item {
    font-size: 2em;
    width: 90vw;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  .work-img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    height: 100px;
    width: auto;
  }
}

#project-line {
  display: flex;
  flex-direction: row;
  padding: 0;
}

#project-item {
  width: 45vw;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  color: #455a64;
  background-color: white;
  margin: 2vh 2.5vw;
  padding: 1.5vw;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#project-item h2 {
  color: #455a64;
  margin-bottom: 0px;
  margin-top: 0px;
}

#project-item p {
  font-size: medium;
  margin-bottom: 0;
  margin-top: 10px;
}

#project-item .btn-link {
  margin: 10px 10px 0 0;
  text-decoration: none;
  color: #455a64;
  background-color: white;
  padding: 10px;
  border: 1px solid #455a64;
  border-radius: 5px;
  width: 40%;
}

#project-item .btn-link:hover {
  background-color: #455a64;
  color: white;
}

#project-item div {
  display: flex;
}

@media only screen and (max-width: 900px) {
  #work-title {
    font-size: 2em;
  }

  #project-line {
    flex-direction: column;
  }

  #project-item {
    width: 90vw;
    padding: 2vh 2.5vw;
  }
}
