.parallax #stars1 {
  position: fixed;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 145px 1800px white, 1454px 1876px white, 44px 845px white,
    1574px 89px white, 1107px 1534px white, 890px 1558px white,
    527px 1167px white, 1922px 1866px white, 1461px 1759px white,
    590px 1537px white, 779px 594px white, 1565px 1437px white,
    1256px 1726px white, 1474px 291px white, 846px 1416px white,
    1051px 803px white, 1012px 955px white, 92px 1590px white,
    1839px 1609px white, 1898px 1708px white, 995px 1615px white,
    29px 562px white, 192px 737px white, 93px 1392px white, 1670px 1065px white,
    1541px 755px white, 80px 974px white, 1870px 662px white, 798px 1545px white,
    169px 1994px white, 1897px 703px white, 590px 1974px white,
    541px 1272px white, 1230px 1126px white, 742px 945px white,
    847px 1376px white, 79px 329px white, 769px 848px white, 377px 376px white,
    148px 1571px white, 912px 898px white, 1862px 1136px white,
    1389px 1815px white, 776px 1951px white, 1099px 1577px white,
    1136px 1038px white, 292px 537px white, 514px 132px white,
    328px 1863px white, 863px 535px white, 1695px 1480px white,
    270px 1550px white, 111px 230px white, 14px 841px white, 1659px 1585px white,
    1464px 1118px white, 151px 492px white, 525px 1258px white,
    619px 857px white, 752px 1326px white, 832px 588px white, 575px 1365px white,
    1975px 651px white, 601px 1164px white, 1269px 780px white,
    1326px 1699px white, 1640px 54px white, 1594px 912px white,
    777px 439px white, 66px 1337px white, 1985px 1475px white,
    1854px 1080px white, 1701px 1525px white, 1601px 1371px white,
    1667px 1293px white, 252px 1102px white, 655px 683px white,
    1778px 508px white, 221px 112px white, 660px 1864px white, 995px 605px white,
    771px 113px white, 1761px 539px white, 1970px 102px white, 35px 1343px white,
    1859px 889px white, 1492px 852px white, 1633px 472px white,
    1970px 1047px white, 1715px 1840px white, 704px 1871px white,
    1551px 1393px white, 862px 129px white, 1374px 478px white,
    336px 231px white, 1983px 858px white, 635px 1195px white,
    488px 1641px white, 1117px 981px white, 660px 1455px white,
    1618px 1732px white, 881px 321px white, 1803px 1331px white,
    1817px 465px white, 117px 604px white, 1137px 1891px white,
    1029px 1034px white, 900px 207px white, 1560px 1300px white,
    490px 1062px white, 764px 483px white, 1651px 1800px white,
    1074px 35px white, 1784px 1639px white, 32px 1569px white, 90px 13px white,
    1020px 764px white, 1444px 793px white, 516px 1373px white,
    433px 1548px white, 1581px 939px white, 1141px 1288px white,
    548px 1159px white, 1774px 522px white, 990px 692px white,
    412px 1501px white, 662px 763px white, 261px 678px white, 563px 1778px white,
    482px 241px white, 1143px 1883px white, 63px 570px white, 653px 1300px white,
    230px 231px white, 609px 1618px white, 1684px 738px white, 412px 358px white,
    1644px 288px white, 749px 1902px white, 1758px 806px white,
    1796px 1618px white, 383px 146px white, 1313px 1159px white,
    264px 475px white, 1439px 1778px white, 1831px 565px white,
    1974px 1771px white, 758px 1918px white, 476px 1799px white,
    1099px 1954px white, 1714px 474px white, 1775px 1034px white,
    1891px 321px white, 1764px 689px white, 1855px 1701px white,
    1092px 936px white, 705px 1795px white, 46px 471px white, 891px 195px white,
    890px 1362px white, 1478px 1075px white, 66px 571px white,
    1924px 1034px white, 61px 9px white, 363px 25px white, 1288px 1727px white,
    811px 1384px white, 1595px 1471px white, 485px 913px white,
    312px 1870px white, 1811px 1113px white, 1724px 1278px white,
    79px 1838px white, 146px 477px white, 369px 1600px white, 326px 1044px white,
    1501px 72px white, 12px 1528px white, 891px 1048px white,
    1885px 1771px white, 772px 310px white, 40px 1284px white, 497px 284px white,
    794px 523px white, 1010px 782px white, 117px 1882px white, 84px 1652px white,
    1822px 1603px white, 1832px 529px white, 1719px 1078px white,
    243px 70px white, 1901px 821px white, 691px 1812px white, 1360px 716px white,
    202px 753px white, 1707px 1713px white, 989px 357px white, 537px 316px white,
    1031px 1356px white, 88px 636px white, 728px 307px white, 718px 466px white,
    998px 596px white, 1616px 856px white, 1404px 800px white, 63px 986px white,
    1005px 1269px white, 690px 121px white, 644px 315px white, 23px 796px white,
    794px 1476px white, 1150px 229px white, 227px 904px white,
    1082px 1997px white, 358px 414px white, 1773px 1369px white,
    1037px 112px white, 1361px 567px white, 6px 900px white, 1596px 662px white,
    865px 1161px white, 1227px 1461px white, 289px 1056px white,
    998px 1305px white, 1468px 28px white, 529px 1384px white,
    1784px 240px white, 1069px 458px white, 586px 1880px white,
    1532px 1034px white, 251px 946px white, 125px 860px white,
    1453px 367px white, 1431px 1984px white, 15px 232px white,
    1347px 600px white, 981px 793px white, 1469px 118px white,
    1266px 423px white, 1221px 460px white, 1500px 1090px white,
    251px 847px white, 1984px 1771px white, 1404px 507px white,
    892px 339px white, 1564px 1900px white, 463px 270px white,
    1497px 1340px white, 131px 546px white, 1213px 713px white,
    210px 866px white, 760px 1757px white, 924px 360px white, 772px 862px white,
    371px 2000px white, 1526px 1994px white, 1970px 1876px white,
    345px 1460px white, 928px 1452px white, 12px 981px white, 659px 1548px white,
    1346px 1697px white, 1550px 403px white, 916px 467px white,
    1428px 551px white, 283px 1894px white, 1086px 460px white,
    251px 692px white, 1651px 270px white, 942px 475px white, 793px 1434px white,
    1463px 682px white, 308px 287px white, 1992px 680px white, 335px 223px white,
    860px 1570px white, 13px 1744px white, 1627px 339px white,
    953px 1164px white, 524px 623px white, 1444px 226px white, 474px 696px white,
    1599px 90px white, 1805px 1145px white, 54px 1648px white,
    1246px 1619px white, 599px 321px white, 1412px 1391px white,
    1376px 100px white, 1668px 226px white, 1322px 1642px white,
    138px 1548px white, 254px 1959px white, 647px 1696px white,
    1596px 1971px white, 1292px 1014px white, 1233px 736px white,
    1600px 69px white, 822px 1852px white, 1193px 653px white,
    1131px 665px white, 1997px 1419px white, 1153px 1126px white,
    1753px 745px white, 1182px 1773px white, 1073px 458px white,
    1637px 59px white, 1393px 1713px white, 1538px 813px white,
    1504px 379px white, 749px 1893px white, 1349px 641px white,
    219px 622px white, 288px 758px white, 911px 1334px white, 550px 1120px white,
    1739px 186px white, 346px 1147px white, 1864px 608px white,
    1379px 537px white, 1934px 1231px white, 793px 637px white,
    235px 735px white, 189px 1606px white, 665px 1654px white,
    1684px 300px white, 9px 427px white, 1816px 892px white, 1204px 1523px white,
    1995px 392px white, 118px 613px white, 1889px 235px white,
    1421px 983px white, 1304px 120px white, 590px 1151px white,
    378px 1754px white, 1114px 1978px white, 624px 171px white,
    167px 263px white, 820px 1443px white, 525px 1072px white,
    1275px 1814px white, 1140px 1056px white, 517px 1465px white,
    1074px 973px white, 1578px 1803px white, 1671px 1372px white,
    1843px 1077px white, 1965px 276px white, 1487px 248px white,
    1701px 1082px white, 1205px 13px white, 1011px 1283px white,
    1845px 1222px white, 1955px 1266px white, 1079px 354px white,
    1830px 897px white, 1641px 1200px white, 290px 1204px white,
    1194px 1939px white, 1585px 272px white, 1444px 1092px white,
    164px 697px white, 1258px 1501px white, 1540px 1368px white,
    428px 1282px white, 1404px 1918px white, 340px 1786px white,
    508px 730px white, 214px 1006px white, 723px 390px white, 604px 1462px white,
    1000px 59px white, 966px 745px white, 1588px 106px white, 347px 1593px white,
    1762px 1322px white, 123px 864px white, 939px 1032px white,
    1778px 552px white, 411px 1616px white, 579px 1864px white,
    96px 1791px white, 539px 1903px white, 1216px 421px white,
    948px 1464px white, 766px 1186px white, 1278px 411px white,
    480px 1524px white, 96px 246px white, 2px 449px white, 1618px 881px white,
    766px 1491px white, 1190px 477px white, 532px 237px white,
    1215px 1171px white, 846px 1176px white, 331px 1447px white,
    788px 1461px white, 629px 404px white, 1550px 1272px white,
    1001px 812px white, 1660px 1226px white, 1193px 1108px white,
    1305px 1507px white, 373px 1053px white, 1917px 294px white,
    1226px 187px white, 1483px 1849px white, 1002px 1122px white,
    760px 1341px white, 1830px 1351px white, 424px 1064px white,
    139px 1011px white, 317px 8px white, 781px 283px white, 1129px 950px white,
    89px 1128px white, 174px 168px white, 40px 200px white, 1583px 1425px white,
    1363px 1732px white, 187px 1297px white, 776px 235px white,
    1171px 1693px white, 1099px 1567px white, 415px 1178px white,
    1672px 703px white, 1851px 800px white, 669px 336px white,
    1922px 1405px white, 542px 1647px white, 314px 97px white, 148px 952px white,
    1528px 972px white, 1440px 1404px white, 1808px 1937px white,
    1858px 584px white, 273px 1129px white, 1434px 122px white,
    1598px 304px white, 770px 908px white, 186px 520px white,
    1565px 1445px white, 289px 614px white, 746px 1165px white,
    585px 1356px white, 1944px 1297px white, 1524px 1764px white,
    1270px 1211px white, 828px 171px white, 718px 786px white,
    1538px 197px white, 220px 988px white, 1554px 832px white,
    1496px 663px white, 1698px 725px white, 1807px 450px white, 627px 45px white,
    557px 487px white, 858px 248px white, 412px 586px white, 1383px 1322px white,
    1854px 1411px white, 1018px 847px white, 1230px 511px white,
    148px 1688px white, 1311px 1706px white, 384px 402px white,
    1656px 1638px white, 1141px 265px white, 771px 1645px white,
    2px 1788px white, 1779px 57px white, 430px 1832px white, 1668px 1732px white,
    1129px 132px white, 1036px 197px white, 850px 1755px white,
    161px 1073px white, 1000px 571px white, 1610px 1724px white,
    311px 1652px white, 461px 288px white, 76px 1868px white, 729px 413px white,
    1884px 1308px white, 1751px 1798px white, 1877px 1103px white,
    1725px 1992px white, 1259px 1029px white, 1735px 1723px white,
    1786px 1536px white, 1044px 73px white, 1933px 463px white,
    661px 825px white, 1290px 509px white, 1050px 1900px white,
    1924px 481px white, 1433px 335px white, 135px 1736px white,
    1940px 844px white, 362px 1577px white, 369px 999px white,
    1065px 496px white, 1583px 1470px white, 339px 1453px white,
    305px 112px white, 735px 275px white, 1077px 959px white, 971px 746px white,
    373px 13px white, 168px 1006px white, 82px 16px white, 261px 1543px white,
    480px 339px white, 1836px 136px white, 1910px 1235px white,
    923px 1189px white, 1838px 33px white, 667px 143px white, 1657px 54px white,
    797px 817px white, 428px 647px white, 984px 958px white, 600px 408px white,
    1562px 1925px white, 48px 95px white, 444px 1972px white, 782px 257px white,
    539px 1866px white, 990px 514px white, 1247px 1724px white,
    1571px 559px white, 587px 314px white, 1165px 700px white,
    996px 1798px white, 465px 406px white, 1196px 731px white,
    802px 1664px white, 1793px 988px white, 997px 1502px white,
    465px 918px white, 1887px 842px white, 1872px 753px white, 521px 554px white,
    543px 156px white, 938px 1706px white, 773px 388px white, 655px 918px white,
    246px 799px white, 983px 1147px white, 765px 1674px white,
    883px 1163px white, 1970px 718px white, 512px 1837px white,
    1256px 410px white, 91px 853px white, 56px 298px white, 103px 951px white,
    387px 1927px white, 1468px 429px white, 354px 348px white,
    1012px 528px white, 1419px 453px white, 572px 1767px white,
    343px 1851px white, 248px 767px white, 904px 618px white, 1290px 119px white,
    907px 52px white, 422px 172px white, 1710px 928px white, 469px 160px white,
    131px 1779px white, 1143px 1275px white, 881px 573px white,
    463px 1168px white, 1712px 1224px white, 658px 1149px white,
    1269px 1845px white, 1990px 539px white, 1060px 618px white,
    1835px 749px white, 1188px 43px white, 888px 986px white, 479px 760px white,
    749px 1995px white, 1937px 1401px white, 234px 1790px white,
    172px 514px white, 500px 652px white, 471px 1824px white, 1905px 584px white,
    1643px 209px white, 253px 1074px white, 118px 762px white,
    781px 1745px white, 397px 144px white, 318px 149px white, 1122px 21px white,
    856px 801px white, 254px 1840px white, 1154px 1704px white,
    342px 1562px white, 1157px 593px white, 1494px 1430px white,
    776px 1189px white, 1986px 1538px white, 430px 1223px white,
    792px 1890px white, 1795px 606px white, 1204px 1364px white,
    832px 339px white, 1296px 1909px white, 1698px 1664px white,
    1954px 927px white, 1387px 90px white, 1919px 133px white,
    1562px 1297px white, 1368px 193px white, 1888px 898px white,
    727px 527px white, 1528px 1907px white, 952px 1411px white,
    218px 1939px white, 219px 240px white, 85px 1600px white, 779px 893px white,
    1024px 177px white, 925px 1157px white, 1994px 381px white,
    915px 518px white, 1610px 444px white, 1722px 79px white, 1095px 940px white,
    1621px 1669px white, 1621px 1590px white, 1261px 591px white,
    349px 9px white, 1159px 691px white, 276px 999px white, 1627px 26px white,
    108px 1692px white, 1751px 1253px white, 894px 605px white,
    705px 1054px white, 906px 776px white, 1848px 309px white, 687px 936px white,
    413px 1157px white, 129px 745px white, 1499px 1579px white,
    733px 709px white, 572px 939px white, 273px 1305px white,
    1671px 1175px white, 604px 243px white, 1963px 1353px white,
    1707px 1079px white, 524px 639px white, 359px 1820px white,
    1594px 1954px white, 414px 437px white, 1599px 979px white,
    473px 716px white, 1152px 122px white, 838px 22px white, 1908px 650px white,
    490px 1086px white, 1018px 56px white, 1096px 1058px white,
    38px 1190px white, 372px 341px white, 120px 1027px white, 971px 693px white,
    314px 479px white, 443px 774px white, 1423px 1448px white,
    763px 1267px white, 783px 925px white, 823px 478px white,
    1024px 1210px white, 1731px 615px white, 1525px 691px white,
    84px 484px white, 1747px 1049px white, 1824px 147px white, 109px 924px white,
    1341px 980px white, 606px 904px white, 1364px 1519px white,
    930px 376px white, 1684px 1540px white, 1226px 599px white, 14px 810px white,
    1093px 1619px white, 239px 1142px white, 1957px 1050px white,
    668px 1783px white;
  animation: animStar 75s linear infinite;
}
.parallax #stars1:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 145px 1800px white, 1454px 1876px white, 44px 845px white,
    1574px 89px white, 1107px 1534px white, 890px 1558px white,
    527px 1167px white, 1922px 1866px white, 1461px 1759px white,
    590px 1537px white, 779px 594px white, 1565px 1437px white,
    1256px 1726px white, 1474px 291px white, 846px 1416px white,
    1051px 803px white, 1012px 955px white, 92px 1590px white,
    1839px 1609px white, 1898px 1708px white, 995px 1615px white,
    29px 562px white, 192px 737px white, 93px 1392px white, 1670px 1065px white,
    1541px 755px white, 80px 974px white, 1870px 662px white, 798px 1545px white,
    169px 1994px white, 1897px 703px white, 590px 1974px white,
    541px 1272px white, 1230px 1126px white, 742px 945px white,
    847px 1376px white, 79px 329px white, 769px 848px white, 377px 376px white,
    148px 1571px white, 912px 898px white, 1862px 1136px white,
    1389px 1815px white, 776px 1951px white, 1099px 1577px white,
    1136px 1038px white, 292px 537px white, 514px 132px white,
    328px 1863px white, 863px 535px white, 1695px 1480px white,
    270px 1550px white, 111px 230px white, 14px 841px white, 1659px 1585px white,
    1464px 1118px white, 151px 492px white, 525px 1258px white,
    619px 857px white, 752px 1326px white, 832px 588px white, 575px 1365px white,
    1975px 651px white, 601px 1164px white, 1269px 780px white,
    1326px 1699px white, 1640px 54px white, 1594px 912px white,
    777px 439px white, 66px 1337px white, 1985px 1475px white,
    1854px 1080px white, 1701px 1525px white, 1601px 1371px white,
    1667px 1293px white, 252px 1102px white, 655px 683px white,
    1778px 508px white, 221px 112px white, 660px 1864px white, 995px 605px white,
    771px 113px white, 1761px 539px white, 1970px 102px white, 35px 1343px white,
    1859px 889px white, 1492px 852px white, 1633px 472px white,
    1970px 1047px white, 1715px 1840px white, 704px 1871px white,
    1551px 1393px white, 862px 129px white, 1374px 478px white,
    336px 231px white, 1983px 858px white, 635px 1195px white,
    488px 1641px white, 1117px 981px white, 660px 1455px white,
    1618px 1732px white, 881px 321px white, 1803px 1331px white,
    1817px 465px white, 117px 604px white, 1137px 1891px white,
    1029px 1034px white, 900px 207px white, 1560px 1300px white,
    490px 1062px white, 764px 483px white, 1651px 1800px white,
    1074px 35px white, 1784px 1639px white, 32px 1569px white, 90px 13px white,
    1020px 764px white, 1444px 793px white, 516px 1373px white,
    433px 1548px white, 1581px 939px white, 1141px 1288px white,
    548px 1159px white, 1774px 522px white, 990px 692px white,
    412px 1501px white, 662px 763px white, 261px 678px white, 563px 1778px white,
    482px 241px white, 1143px 1883px white, 63px 570px white, 653px 1300px white,
    230px 231px white, 609px 1618px white, 1684px 738px white, 412px 358px white,
    1644px 288px white, 749px 1902px white, 1758px 806px white,
    1796px 1618px white, 383px 146px white, 1313px 1159px white,
    264px 475px white, 1439px 1778px white, 1831px 565px white,
    1974px 1771px white, 758px 1918px white, 476px 1799px white,
    1099px 1954px white, 1714px 474px white, 1775px 1034px white,
    1891px 321px white, 1764px 689px white, 1855px 1701px white,
    1092px 936px white, 705px 1795px white, 46px 471px white, 891px 195px white,
    890px 1362px white, 1478px 1075px white, 66px 571px white,
    1924px 1034px white, 61px 9px white, 363px 25px white, 1288px 1727px white,
    811px 1384px white, 1595px 1471px white, 485px 913px white,
    312px 1870px white, 1811px 1113px white, 1724px 1278px white,
    79px 1838px white, 146px 477px white, 369px 1600px white, 326px 1044px white,
    1501px 72px white, 12px 1528px white, 891px 1048px white,
    1885px 1771px white, 772px 310px white, 40px 1284px white, 497px 284px white,
    794px 523px white, 1010px 782px white, 117px 1882px white, 84px 1652px white,
    1822px 1603px white, 1832px 529px white, 1719px 1078px white,
    243px 70px white, 1901px 821px white, 691px 1812px white, 1360px 716px white,
    202px 753px white, 1707px 1713px white, 989px 357px white, 537px 316px white,
    1031px 1356px white, 88px 636px white, 728px 307px white, 718px 466px white,
    998px 596px white, 1616px 856px white, 1404px 800px white, 63px 986px white,
    1005px 1269px white, 690px 121px white, 644px 315px white, 23px 796px white,
    794px 1476px white, 1150px 229px white, 227px 904px white,
    1082px 1997px white, 358px 414px white, 1773px 1369px white,
    1037px 112px white, 1361px 567px white, 6px 900px white, 1596px 662px white,
    865px 1161px white, 1227px 1461px white, 289px 1056px white,
    998px 1305px white, 1468px 28px white, 529px 1384px white,
    1784px 240px white, 1069px 458px white, 586px 1880px white,
    1532px 1034px white, 251px 946px white, 125px 860px white,
    1453px 367px white, 1431px 1984px white, 15px 232px white,
    1347px 600px white, 981px 793px white, 1469px 118px white,
    1266px 423px white, 1221px 460px white, 1500px 1090px white,
    251px 847px white, 1984px 1771px white, 1404px 507px white,
    892px 339px white, 1564px 1900px white, 463px 270px white,
    1497px 1340px white, 131px 546px white, 1213px 713px white,
    210px 866px white, 760px 1757px white, 924px 360px white, 772px 862px white,
    371px 2000px white, 1526px 1994px white, 1970px 1876px white,
    345px 1460px white, 928px 1452px white, 12px 981px white, 659px 1548px white,
    1346px 1697px white, 1550px 403px white, 916px 467px white,
    1428px 551px white, 283px 1894px white, 1086px 460px white,
    251px 692px white, 1651px 270px white, 942px 475px white, 793px 1434px white,
    1463px 682px white, 308px 287px white, 1992px 680px white, 335px 223px white,
    860px 1570px white, 13px 1744px white, 1627px 339px white,
    953px 1164px white, 524px 623px white, 1444px 226px white, 474px 696px white,
    1599px 90px white, 1805px 1145px white, 54px 1648px white,
    1246px 1619px white, 599px 321px white, 1412px 1391px white,
    1376px 100px white, 1668px 226px white, 1322px 1642px white,
    138px 1548px white, 254px 1959px white, 647px 1696px white,
    1596px 1971px white, 1292px 1014px white, 1233px 736px white,
    1600px 69px white, 822px 1852px white, 1193px 653px white,
    1131px 665px white, 1997px 1419px white, 1153px 1126px white,
    1753px 745px white, 1182px 1773px white, 1073px 458px white,
    1637px 59px white, 1393px 1713px white, 1538px 813px white,
    1504px 379px white, 749px 1893px white, 1349px 641px white,
    219px 622px white, 288px 758px white, 911px 1334px white, 550px 1120px white,
    1739px 186px white, 346px 1147px white, 1864px 608px white,
    1379px 537px white, 1934px 1231px white, 793px 637px white,
    235px 735px white, 189px 1606px white, 665px 1654px white,
    1684px 300px white, 9px 427px white, 1816px 892px white, 1204px 1523px white,
    1995px 392px white, 118px 613px white, 1889px 235px white,
    1421px 983px white, 1304px 120px white, 590px 1151px white,
    378px 1754px white, 1114px 1978px white, 624px 171px white,
    167px 263px white, 820px 1443px white, 525px 1072px white,
    1275px 1814px white, 1140px 1056px white, 517px 1465px white,
    1074px 973px white, 1578px 1803px white, 1671px 1372px white,
    1843px 1077px white, 1965px 276px white, 1487px 248px white,
    1701px 1082px white, 1205px 13px white, 1011px 1283px white,
    1845px 1222px white, 1955px 1266px white, 1079px 354px white,
    1830px 897px white, 1641px 1200px white, 290px 1204px white,
    1194px 1939px white, 1585px 272px white, 1444px 1092px white,
    164px 697px white, 1258px 1501px white, 1540px 1368px white,
    428px 1282px white, 1404px 1918px white, 340px 1786px white,
    508px 730px white, 214px 1006px white, 723px 390px white, 604px 1462px white,
    1000px 59px white, 966px 745px white, 1588px 106px white, 347px 1593px white,
    1762px 1322px white, 123px 864px white, 939px 1032px white,
    1778px 552px white, 411px 1616px white, 579px 1864px white,
    96px 1791px white, 539px 1903px white, 1216px 421px white,
    948px 1464px white, 766px 1186px white, 1278px 411px white,
    480px 1524px white, 96px 246px white, 2px 449px white, 1618px 881px white,
    766px 1491px white, 1190px 477px white, 532px 237px white,
    1215px 1171px white, 846px 1176px white, 331px 1447px white,
    788px 1461px white, 629px 404px white, 1550px 1272px white,
    1001px 812px white, 1660px 1226px white, 1193px 1108px white,
    1305px 1507px white, 373px 1053px white, 1917px 294px white,
    1226px 187px white, 1483px 1849px white, 1002px 1122px white,
    760px 1341px white, 1830px 1351px white, 424px 1064px white,
    139px 1011px white, 317px 8px white, 781px 283px white, 1129px 950px white,
    89px 1128px white, 174px 168px white, 40px 200px white, 1583px 1425px white,
    1363px 1732px white, 187px 1297px white, 776px 235px white,
    1171px 1693px white, 1099px 1567px white, 415px 1178px white,
    1672px 703px white, 1851px 800px white, 669px 336px white,
    1922px 1405px white, 542px 1647px white, 314px 97px white, 148px 952px white,
    1528px 972px white, 1440px 1404px white, 1808px 1937px white,
    1858px 584px white, 273px 1129px white, 1434px 122px white,
    1598px 304px white, 770px 908px white, 186px 520px white,
    1565px 1445px white, 289px 614px white, 746px 1165px white,
    585px 1356px white, 1944px 1297px white, 1524px 1764px white,
    1270px 1211px white, 828px 171px white, 718px 786px white,
    1538px 197px white, 220px 988px white, 1554px 832px white,
    1496px 663px white, 1698px 725px white, 1807px 450px white, 627px 45px white,
    557px 487px white, 858px 248px white, 412px 586px white, 1383px 1322px white,
    1854px 1411px white, 1018px 847px white, 1230px 511px white,
    148px 1688px white, 1311px 1706px white, 384px 402px white,
    1656px 1638px white, 1141px 265px white, 771px 1645px white,
    2px 1788px white, 1779px 57px white, 430px 1832px white, 1668px 1732px white,
    1129px 132px white, 1036px 197px white, 850px 1755px white,
    161px 1073px white, 1000px 571px white, 1610px 1724px white,
    311px 1652px white, 461px 288px white, 76px 1868px white, 729px 413px white,
    1884px 1308px white, 1751px 1798px white, 1877px 1103px white,
    1725px 1992px white, 1259px 1029px white, 1735px 1723px white,
    1786px 1536px white, 1044px 73px white, 1933px 463px white,
    661px 825px white, 1290px 509px white, 1050px 1900px white,
    1924px 481px white, 1433px 335px white, 135px 1736px white,
    1940px 844px white, 362px 1577px white, 369px 999px white,
    1065px 496px white, 1583px 1470px white, 339px 1453px white,
    305px 112px white, 735px 275px white, 1077px 959px white, 971px 746px white,
    373px 13px white, 168px 1006px white, 82px 16px white, 261px 1543px white,
    480px 339px white, 1836px 136px white, 1910px 1235px white,
    923px 1189px white, 1838px 33px white, 667px 143px white, 1657px 54px white,
    797px 817px white, 428px 647px white, 984px 958px white, 600px 408px white,
    1562px 1925px white, 48px 95px white, 444px 1972px white, 782px 257px white,
    539px 1866px white, 990px 514px white, 1247px 1724px white,
    1571px 559px white, 587px 314px white, 1165px 700px white,
    996px 1798px white, 465px 406px white, 1196px 731px white,
    802px 1664px white, 1793px 988px white, 997px 1502px white,
    465px 918px white, 1887px 842px white, 1872px 753px white, 521px 554px white,
    543px 156px white, 938px 1706px white, 773px 388px white, 655px 918px white,
    246px 799px white, 983px 1147px white, 765px 1674px white,
    883px 1163px white, 1970px 718px white, 512px 1837px white,
    1256px 410px white, 91px 853px white, 56px 298px white, 103px 951px white,
    387px 1927px white, 1468px 429px white, 354px 348px white,
    1012px 528px white, 1419px 453px white, 572px 1767px white,
    343px 1851px white, 248px 767px white, 904px 618px white, 1290px 119px white,
    907px 52px white, 422px 172px white, 1710px 928px white, 469px 160px white,
    131px 1779px white, 1143px 1275px white, 881px 573px white,
    463px 1168px white, 1712px 1224px white, 658px 1149px white,
    1269px 1845px white, 1990px 539px white, 1060px 618px white,
    1835px 749px white, 1188px 43px white, 888px 986px white, 479px 760px white,
    749px 1995px white, 1937px 1401px white, 234px 1790px white,
    172px 514px white, 500px 652px white, 471px 1824px white, 1905px 584px white,
    1643px 209px white, 253px 1074px white, 118px 762px white,
    781px 1745px white, 397px 144px white, 318px 149px white, 1122px 21px white,
    856px 801px white, 254px 1840px white, 1154px 1704px white,
    342px 1562px white, 1157px 593px white, 1494px 1430px white,
    776px 1189px white, 1986px 1538px white, 430px 1223px white,
    792px 1890px white, 1795px 606px white, 1204px 1364px white,
    832px 339px white, 1296px 1909px white, 1698px 1664px white,
    1954px 927px white, 1387px 90px white, 1919px 133px white,
    1562px 1297px white, 1368px 193px white, 1888px 898px white,
    727px 527px white, 1528px 1907px white, 952px 1411px white,
    218px 1939px white, 219px 240px white, 85px 1600px white, 779px 893px white,
    1024px 177px white, 925px 1157px white, 1994px 381px white,
    915px 518px white, 1610px 444px white, 1722px 79px white, 1095px 940px white,
    1621px 1669px white, 1621px 1590px white, 1261px 591px white,
    349px 9px white, 1159px 691px white, 276px 999px white, 1627px 26px white,
    108px 1692px white, 1751px 1253px white, 894px 605px white,
    705px 1054px white, 906px 776px white, 1848px 309px white, 687px 936px white,
    413px 1157px white, 129px 745px white, 1499px 1579px white,
    733px 709px white, 572px 939px white, 273px 1305px white,
    1671px 1175px white, 604px 243px white, 1963px 1353px white,
    1707px 1079px white, 524px 639px white, 359px 1820px white,
    1594px 1954px white, 414px 437px white, 1599px 979px white,
    473px 716px white, 1152px 122px white, 838px 22px white, 1908px 650px white,
    490px 1086px white, 1018px 56px white, 1096px 1058px white,
    38px 1190px white, 372px 341px white, 120px 1027px white, 971px 693px white,
    314px 479px white, 443px 774px white, 1423px 1448px white,
    763px 1267px white, 783px 925px white, 823px 478px white,
    1024px 1210px white, 1731px 615px white, 1525px 691px white,
    84px 484px white, 1747px 1049px white, 1824px 147px white, 109px 924px white,
    1341px 980px white, 606px 904px white, 1364px 1519px white,
    930px 376px white, 1684px 1540px white, 1226px 599px white, 14px 810px white,
    1093px 1619px white, 239px 1142px white, 1957px 1050px white,
    668px 1783px white;
}

.parallax #stars2 {
  position: fixed;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 429px 1402px white, 721px 716px white, 447px 1646px white,
    1472px 274px white, 875px 1987px white, 1823px 1354px white,
    1849px 1503px white, 708px 206px white, 1324px 846px white,
    373px 876px white, 662px 1205px white, 1301px 900px white,
    1732px 323px white, 1752px 1035px white, 227px 1634px white,
    578px 247px white, 1048px 1895px white, 1894px 155px white,
    464px 425px white, 250px 794px white, 100px 103px white, 488px 1363px white,
    1542px 1873px white, 1605px 1177px white, 1686px 1637px white,
    1062px 1696px white, 1848px 1144px white, 529px 1852px white,
    1866px 1497px white, 349px 682px white, 1729px 1588px white,
    247px 1155px white, 734px 1475px white, 1280px 343px white,
    924px 1369px white, 1874px 457px white, 1875px 725px white,
    1918px 1469px white, 127px 236px white, 809px 545px white,
    835px 1070px white, 1546px 155px white, 223px 569px white,
    322px 1383px white, 1605px 1416px white, 1569px 1078px white,
    1688px 1412px white, 1198px 915px white, 722px 1731px white,
    1834px 919px white, 1681px 1656px white, 512px 45px white, 422px 166px white,
    789px 1445px white, 1234px 418px white, 1016px 949px white,
    264px 347px white, 1965px 1495px white, 1543px 453px white,
    1477px 152px white, 743px 795px white, 1700px 53px white, 1119px 908px white,
    277px 217px white, 1064px 1183px white, 327px 1938px white,
    1749px 1314px white, 713px 732px white, 1405px 582px white,
    751px 952px white, 1813px 393px white, 924px 1907px white,
    572px 1553px white, 1545px 1251px white, 1957px 1384px white,
    266px 725px white, 50px 1507px white, 1252px 1353px white,
    181px 1861px white, 1264px 1641px white, 1673px 263px white,
    1150px 16px white, 28px 1142px white, 1031px 863px white, 1808px 148px white,
    1511px 314px white, 656px 487px white, 200px 658px white, 1267px 699px white,
    1150px 333px white, 77px 1918px white, 44px 1316px white, 678px 506px white,
    255px 288px white, 1830px 739px white, 1139px 489px white,
    1876px 526px white, 1646px 1983px white, 1450px 594px white,
    270px 971px white, 716px 516px white, 1679px 1330px white,
    1576px 886px white, 1403px 645px white, 1581px 440px white,
    1558px 773px white, 1272px 1936px white, 1860px 1112px white,
    1601px 1259px white, 1529px 232px white, 1894px 1802px white,
    1347px 1809px white, 1056px 1198px white, 1793px 909px white,
    1007px 36px white, 486px 1497px white, 955px 113px white, 1921px 610px white,
    1662px 971px white, 1397px 1191px white, 1818px 1083px white,
    1787px 762px white, 1471px 1559px white, 378px 1575px white,
    305px 1511px white, 1006px 381px white, 1530px 26px white,
    1215px 415px white, 1860px 1600px white, 1967px 1237px white,
    214px 1630px white, 1698px 1404px white, 1163px 599px white,
    146px 1510px white, 1102px 1752px white, 1282px 300px white,
    1789px 676px white, 837px 1378px white, 22px 1835px white,
    382px 1694px white, 732px 1759px white, 1283px 784px white,
    319px 1645px white, 1978px 1490px white, 749px 829px white,
    1463px 1552px white, 143px 1137px white, 696px 1334px white,
    1780px 1194px white, 1295px 950px white, 376px 1154px white,
    845px 1614px white, 105px 912px white, 121px 1527px white, 653px 675px white,
    1655px 807px white, 545px 991px white, 560px 176px white, 176px 701px white,
    899px 1523px white, 1434px 1856px white, 907px 46px white, 452px 338px white,
    1649px 56px white, 484px 1762px white, 1416px 426px white,
    1870px 1280px white, 1952px 695px white, 650px 30px white,
    1827px 915px white, 1728px 1558px white, 1861px 304px white,
    1684px 1264px white, 403px 888px white, 1290px 601px white,
    665px 1622px white, 1395px 1267px white, 102px 1253px white,
    468px 206px white, 1118px 452px white, 1727px 338px white,
    1050px 945px white, 367px 1892px white, 1124px 1089px white,
    1562px 46px white, 325px 1830px white, 1635px 1623px white,
    670px 378px white, 1353px 833px white, 1644px 178px white,
    1597px 1779px white, 25px 529px white, 1339px 31px white, 264px 1054px white,
    143px 398px white, 408px 1619px white, 17px 534px white, 1389px 1735px white,
    1451px 1777px white, 609px 1159px white;
  animation: animStar 50s linear infinite;
}

.parallax #stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 429px 1402px white, 721px 716px white, 447px 1646px white,
    1472px 274px white, 875px 1987px white, 1823px 1354px white,
    1849px 1503px white, 708px 206px white, 1324px 846px white,
    373px 876px white, 662px 1205px white, 1301px 900px white,
    1732px 323px white, 1752px 1035px white, 227px 1634px white,
    578px 247px white, 1048px 1895px white, 1894px 155px white,
    464px 425px white, 250px 794px white, 100px 103px white, 488px 1363px white,
    1542px 1873px white, 1605px 1177px white, 1686px 1637px white,
    1062px 1696px white, 1848px 1144px white, 529px 1852px white,
    1866px 1497px white, 349px 682px white, 1729px 1588px white,
    247px 1155px white, 734px 1475px white, 1280px 343px white,
    924px 1369px white, 1874px 457px white, 1875px 725px white,
    1918px 1469px white, 127px 236px white, 809px 545px white,
    835px 1070px white, 1546px 155px white, 223px 569px white,
    322px 1383px white, 1605px 1416px white, 1569px 1078px white,
    1688px 1412px white, 1198px 915px white, 722px 1731px white,
    1834px 919px white, 1681px 1656px white, 512px 45px white, 422px 166px white,
    789px 1445px white, 1234px 418px white, 1016px 949px white,
    264px 347px white, 1965px 1495px white, 1543px 453px white,
    1477px 152px white, 743px 795px white, 1700px 53px white, 1119px 908px white,
    277px 217px white, 1064px 1183px white, 327px 1938px white,
    1749px 1314px white, 713px 732px white, 1405px 582px white,
    751px 952px white, 1813px 393px white, 924px 1907px white,
    572px 1553px white, 1545px 1251px white, 1957px 1384px white,
    266px 725px white, 50px 1507px white, 1252px 1353px white,
    181px 1861px white, 1264px 1641px white, 1673px 263px white,
    1150px 16px white, 28px 1142px white, 1031px 863px white, 1808px 148px white,
    1511px 314px white, 656px 487px white, 200px 658px white, 1267px 699px white,
    1150px 333px white, 77px 1918px white, 44px 1316px white, 678px 506px white,
    255px 288px white, 1830px 739px white, 1139px 489px white,
    1876px 526px white, 1646px 1983px white, 1450px 594px white,
    270px 971px white, 716px 516px white, 1679px 1330px white,
    1576px 886px white, 1403px 645px white, 1581px 440px white,
    1558px 773px white, 1272px 1936px white, 1860px 1112px white,
    1601px 1259px white, 1529px 232px white, 1894px 1802px white,
    1347px 1809px white, 1056px 1198px white, 1793px 909px white,
    1007px 36px white, 486px 1497px white, 955px 113px white, 1921px 610px white,
    1662px 971px white, 1397px 1191px white, 1818px 1083px white,
    1787px 762px white, 1471px 1559px white, 378px 1575px white,
    305px 1511px white, 1006px 381px white, 1530px 26px white,
    1215px 415px white, 1860px 1600px white, 1967px 1237px white,
    214px 1630px white, 1698px 1404px white, 1163px 599px white,
    146px 1510px white, 1102px 1752px white, 1282px 300px white,
    1789px 676px white, 837px 1378px white, 22px 1835px white,
    382px 1694px white, 732px 1759px white, 1283px 784px white,
    319px 1645px white, 1978px 1490px white, 749px 829px white,
    1463px 1552px white, 143px 1137px white, 696px 1334px white,
    1780px 1194px white, 1295px 950px white, 376px 1154px white,
    845px 1614px white, 105px 912px white, 121px 1527px white, 653px 675px white,
    1655px 807px white, 545px 991px white, 560px 176px white, 176px 701px white,
    899px 1523px white, 1434px 1856px white, 907px 46px white, 452px 338px white,
    1649px 56px white, 484px 1762px white, 1416px 426px white,
    1870px 1280px white, 1952px 695px white, 650px 30px white,
    1827px 915px white, 1728px 1558px white, 1861px 304px white,
    1684px 1264px white, 403px 888px white, 1290px 601px white,
    665px 1622px white, 1395px 1267px white, 102px 1253px white,
    468px 206px white, 1118px 452px white, 1727px 338px white,
    1050px 945px white, 367px 1892px white, 1124px 1089px white,
    1562px 46px white, 325px 1830px white, 1635px 1623px white,
    670px 378px white, 1353px 833px white, 1644px 178px white,
    1597px 1779px white, 25px 529px white, 1339px 31px white, 264px 1054px white,
    143px 398px white, 408px 1619px white, 17px 534px white, 1389px 1735px white,
    1451px 1777px white, 609px 1159px white;
}

.parallax #stars3 {
  position: fixed;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 744px 507px white, 1697px 1131px white, 1166px 531px white,
    1347px 1741px white, 293px 1996px white, 476px 571px white,
    282px 1983px white, 443px 1099px white, 590px 1280px white,
    462px 1965px white, 395px 1151px white, 473px 120px white,
    584px 1375px white, 401px 1620px white, 1022px 451px white,
    537px 1143px white, 292px 985px white, 1776px 920px white,
    1652px 993px white, 1654px 1387px white, 1786px 1665px white,
    1092px 944px white, 401px 1292px white, 1433px 1998px white,
    334px 1166px white, 1384px 1904px white, 1247px 722px white,
    278px 1521px white, 1106px 1124px white, 1229px 1865px white,
    1801px 1673px white, 48px 261px white, 1667px 273px white,
    1145px 1060px white, 508px 354px white, 1642px 1513px white,
    136px 1561px white, 286px 711px white, 698px 357px white,
    1852px 1613px white, 842px 1526px white, 821px 1077px white,
    12px 1612px white, 154px 8px white, 608px 890px white, 1058px 686px white,
    1721px 896px white, 223px 1211px white, 491px 1294px white,
    131px 1422px white, 1513px 270px white, 1694px 1366px white,
    11px 1631px white, 1105px 1055px white, 1128px 1993px white,
    1856px 1831px white, 783px 1875px white, 1613px 1237px white,
    1232px 563px white, 1266px 1619px white, 814px 200px white,
    1951px 1432px white, 667px 1161px white, 1536px 1110px white,
    1419px 1990px white, 415px 148px white, 1112px 775px white,
    876px 526px white, 93px 466px white, 1699px 478px white, 1186px 162px white,
    1301px 215px white, 1256px 1226px white, 1983px 846px white,
    1634px 1871px white, 236px 1404px white, 1293px 864px white,
    1597px 214px white, 1747px 713px white, 1739px 1329px white,
    1437px 1153px white, 348px 831px white, 376px 1186px white,
    189px 1591px white, 1451px 85px white, 396px 3px white, 10px 1109px white,
    778px 1578px white, 1893px 456px white, 1179px 1808px white,
    641px 1426px white, 372px 1049px white, 221px 1687px white,
    1590px 153px white, 1339px 627px white, 176px 1112px white,
    1449px 740px white, 1076px 499px white, 790px 743px white,
    295px 1409px white;
  animation: animStar 25s linear infinite;
}

.parallax #stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 744px 507px white, 1697px 1131px white, 1166px 531px white,
    1347px 1741px white, 293px 1996px white, 476px 571px white,
    282px 1983px white, 443px 1099px white, 590px 1280px white,
    462px 1965px white, 395px 1151px white, 473px 120px white,
    584px 1375px white, 401px 1620px white, 1022px 451px white,
    537px 1143px white, 292px 985px white, 1776px 920px white,
    1652px 993px white, 1654px 1387px white, 1786px 1665px white,
    1092px 944px white, 401px 1292px white, 1433px 1998px white,
    334px 1166px white, 1384px 1904px white, 1247px 722px white,
    278px 1521px white, 1106px 1124px white, 1229px 1865px white,
    1801px 1673px white, 48px 261px white, 1667px 273px white,
    1145px 1060px white, 508px 354px white, 1642px 1513px white,
    136px 1561px white, 286px 711px white, 698px 357px white,
    1852px 1613px white, 842px 1526px white, 821px 1077px white,
    12px 1612px white, 154px 8px white, 608px 890px white, 1058px 686px white,
    1721px 896px white, 223px 1211px white, 491px 1294px white,
    131px 1422px white, 1513px 270px white, 1694px 1366px white,
    11px 1631px white, 1105px 1055px white, 1128px 1993px white,
    1856px 1831px white, 783px 1875px white, 1613px 1237px white,
    1232px 563px white, 1266px 1619px white, 814px 200px white,
    1951px 1432px white, 667px 1161px white, 1536px 1110px white,
    1419px 1990px white, 415px 148px white, 1112px 775px white,
    876px 526px white, 93px 466px white, 1699px 478px white, 1186px 162px white,
    1301px 215px white, 1256px 1226px white, 1983px 846px white,
    1634px 1871px white, 236px 1404px white, 1293px 864px white,
    1597px 214px white, 1747px 713px white, 1739px 1329px white,
    1437px 1153px white, 348px 831px white, 376px 1186px white,
    189px 1591px white, 1451px 85px white, 396px 3px white, 10px 1109px white,
    778px 1578px white, 1893px 456px white, 1179px 1808px white,
    641px 1426px white, 372px 1049px white, 221px 1687px white,
    1590px 153px white, 1339px 627px white, 176px 1112px white,
    1449px 740px white, 1076px 499px white, 790px 743px white,
    295px 1409px white;
}

@keyframes animStar {
  from {
    transform: translateY(-2000px);
  }
  to {
    transform: translateY(0px);
  }
}
